/*!
Theme Name: Pacific
Theme URI: ---
Description: Ejercicio Responsive 02
Author: Dymenxion
Version: 1.0
*/
@import 'bootstrap/css/bootstrap.min.css'
@import url'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700'
@import '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'

/* Mobile Firts */
@media screen and (max-width:640px)
	@import 'mobile.styl';

/* Tablets: Landscape */
//@media screen and (min-width:481px) and (max-width:1200px)
//	@import 'tablet.styl';

/* Desktops */
@media screen and (min-width:1200px)
	@import 'desktop.styl';