@import 'bootstrap/css/bootstrap.min.css';
/*---------------------------------------------------------------------------------------------> generales*/
body {
  font-family: 'Open Sans', sans-serif;
}
h3 {
  padding-top: 0;
  margin-top: 0;
}
.btn-menta {
  background-color: #51a279;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 25px;
}
.btn-menta2 {
  background-color: #51a279;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 30px;
}
#pas {
  color: #51a279;
}
/*---------------------------------------------------------------------------------------------> header*/
header {
  margin-top: 44px;
}
header .navbar {
  text-align: right;
}
header .navbar nav ul li {
  display: inline-block;
  margin-left: 40px;
}
header .navbar nav ul li a {
  color: #272a21;
}
header .navbar nav ul li :hover {
  color: #79b496;
  text-decoration: none;
}
/*---------------------------------------------------------------------------------------------> middle*/
#middle .boton {
  position: relative;
  text-align: right;
  top: 60px;
}
#middle .franja {
  background-color: #e0f1e1;
  margin-top: 36px;
}
#middle .franja .show {
  margin-top: 40px;
  margin-bottom: 60px;
}
#middle .franja .show .icono {
  color: #51a279;
}
#middle .franja .show .text p {
  text-align: justify;
}
/*-------------------------------------------------------------------------------------------> project*/
#project {
  margin-top: 20px;
  margin-bottom: 50px;
}
#project .title {
  color: #272a21;
}
#project .enlaces {
  position: relative;
  top: 20px;
}
#project .enlaces a {
  color: #51a279;
  font-size: 0.8em;
}
#project .enlaces a i {
  font-size: 1.7em;
}
.pro {
  margin-top: 20px;
}
.pro .title {
  margin: 5px 0;
}
.pro .title a {
  color: #51a279;
}
.pro .more {
  margin-bottom: 40px;
}
.pro .more a {
  color: #51a279;
  font-size: 1.2em;
}
/*-------------------------------------------------------------------------------------------> post*/
.enlaces {
  text-align: right;
}
.post .title {
  margin-top: 20px;
}
.post .title a {
  color: #51a279;
}
.post .more a {
  color: #51a279;
}
.action {
  background-color: #3c3c3c;
  padding: 40px 0;
}
.action .barra {
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
.action .barra .description {
  padding: 10px 0;
}
/*-------------------------------------------------------------------------------------------> action*/
.bol {
  position: relative;
  top: 30px;
}
.marcas {
  border: solid 2px #efefef;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 40px;
}
.boton2 {
  position: relative;
  text-align: center;
  top: 30px;
  margin-bottom: 50px;
}
/*-------------------------------------------------------------------------------------------> infoextra*/
.infoextra {
  margin-top: 34px;
  background-color: #3c3c3c;
  color: #fff;
}
.infoextra .paquetes {
  margin: 40px 0;
}
.infoextra .paquetes .title {
  text-transform: uppercase;
}
.textus {
  margin-left: -30px;
  font-size: 0.9em;
}
.formulario {
  margin-top: 20px;
}
.formulario form input {
  background-color: transparent;
  border: solid 1px #efefef;
  display: block;
  width: 100%;
  padding: 10px;
}
.tamaño {
  height: 70px;
}
.botonazo {
  text-align: right;
}
/*-------------------------------------------------------------------------------------------> footer*/
footer {
  background-color: #303030;
  color: #fff;
  padding: 50px 0;
}
footer .enlaces2 ul {
  text-align: right;
}
footer .enlaces2 ul li {
  display: inline-block;
  font-size: 1em;
  margin-left: 10px;
}
footer .enlaces2 ul li a {
  color: #51a279;
}
