@import 'vars.styl'
@import 'bootstrap/css/bootstrap.min.css'

/*---------------------------------------------------------------------------------------------> generales*/
body
	font-family open
h3
	padding-top 0
	margin-top 0
.btn-menta
	background-color #51a279
	color #fff
	text-transform uppercase
	padding 15px 25px
.btn-menta2
	background-color #51a279
	color #fff
	text-transform uppercase
	padding 10px 30px
#pas
	color pasto
/*---------------------------------------------------------------------------------------------> header*/
header
	margin-top 44px
	.navbar
		text-align right
		nav
			ul
				li
					display inline-block
					margin-left 40px
					a
						color #272a21
					:hover
						color #79b496
						text-decoration none
						
/*---------------------------------------------------------------------------------------------> middle*/
#middle
	.boton
		position relative
		text-align right
		top 60px
	.franja
		background-color #e0f1e1
		margin-top 36px
		.show
			margin-top 40px
			margin-bottom 60px
			.icono
				color pasto
				
			.text
				p
					text-align justify
/*-------------------------------------------------------------------------------------------> project*/
#project
	margin-top 20px
	margin-bottom 50px
	.title
		color #272a21
	.enlaces
		position relative
		top 20px
		a
			color pasto
			font-size .8em
			
			i
				font-size 1.7em
				
.pro
	margin-top 20px
	.title
		margin 5px 0
		a
			color pasto
	.more
		margin-bottom 40px
		
		a
			color pasto
			font-size 1.2em
/*-------------------------------------------------------------------------------------------> post*/
.enlaces
	text-align right
	
.post
	.title
		margin-top 20px
		a
			color pasto
	.more
		a
			color pasto
	
.action
	background-color #3c3c3c
	padding 40px 0
	
	.barra
		margin 0 auto
		text-align center
		color #fff
		.description
			padding 10px 0
				
/*-------------------------------------------------------------------------------------------> action*/
.bol
	position relative
	top 30px
.marcas
	border solid 2px #efefef
	margin-bottom 20px
	margin-top 20px
	padding 40px
.boton2
		position relative
		text-align center
		top 30px
		margin-bottom 50px
/*-------------------------------------------------------------------------------------------> infoextra*/	
.infoextra
	margin-top 34px
	background-color #3c3c3c
	color #fff
	.paquetes
		margin 40px 0
		.title
			text-transform uppercase
.textus
	margin-left -30px
	font-size .9em
.formulario
	margin-top 20px
	form
		input
			background-color transparent
			border solid 1px #efefef
			display block
			width 100%
			padding 10px
.tamaño
	height 70px
.botonazo
	text-align right
	
/*-------------------------------------------------------------------------------------------> footer*/				
footer
	background-color #303030
	color #fff
	padding 50px 0
	.enlaces2
		ul
			text-align right
			li
				display inline-block
				font-size 1em
				margin-left 10px
				a
					color pasto
					
				