@import 'vars.styl'
/*------------------------------------------------------------------------------------ generales*/
body
	font-family open
h2
	font-weight 700
/*------------------------------------------------------------------------------------ header*/

header
	background-image url(assets/header.png)
	background-repeat no-repeat
	background-size contain
	height 416px
	border-bottom solid 2px #efefef
	.logo
		position relative
		top 330px
.navbar
	nav
		position relative
		top 355px
		ul
			margin-right 120px
			text-align right
			li
				display inline-block
				margin-left 20px
				font-size 1.1em
				a
					color #000
					text-decoration none
					
					span
						font-size .95em
						margin-left 10px
						transition(.1s)
						
						&:hover
							color azul
/*------------------------------------------------------------------------------------ about*/

.about
	width 70%
	margin 0 auto
	margin-top 120px
	.title
		text-align center
		margin-bottom 30px

	.content
		text-align justify
		font-weight 300
		a
			color azulsuave
			transition(.1s)
			&:hover
				text-decoration none
				color azul
/*------------------------------------------------------------------------------------ servicios*/
.title_s
	margin-top 120px
	margin-bottom 20px
	text-align center
	h2
		font-size 1.9em
.serv4
	width 95%
	margin-top 60px
	.ico
		text-align center
		font-size 2.5em
		span
			color azulsuave
	.name
		text-align center
		h4
			font-size 1.8em
	.text
		text-align justify
		font-size .95em
		margin-top 20px
/*------------------------------------------------------------------------------------ proyectos*/		
.title_p
	margin-top 40px
	text-align center
	margin-bottom 60px
	h2
		font-size 1.9em
.proyectos
	width 95%
	margin 0 auto
	border solid 2px #efefef
/*------------------------------------------------------------------------------------ expert*/
.expertos
	img
		margin 50px auto
/*------------------------------------------------------------------------------------ contacto*/
#contacto
	background-image url(assets/emperadores.png)
	background-repeat no-repeat
	background-size contain
	height 917px
	.title
		color #fff
		text-align center
		position relative
		top 40px
		h2
			font-size 2.2em
			font-weight 400
			
	.subtitle
		color #fff
		text-align center
		position relative
		top 40px
		margin-bottom 100px
.forma
	width 100%
	
		
						