/*!
Theme Name: iceberg9
Theme URI: ---
Description: Ejercicio Responsive 03
Author: Dymenxion
Version: 1.0
*/
@import 'bootstrap/css/bootstrap.min.css'
@import url'http://fonts.googleapis.com/css?family=Share:700|Open+Sans:400,300,600,700'
@import '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'



/* Mobile Firts */
@media screen and (max-width:768px)
	@import 'mobile.styl';

/* Tablets: Landscape */
@media screen and (min-width:769px) and (max-width:1199px)
	@import 'tablet.styl';

/* Desktops */
@media screen and (min-width:1200px)
	@import 'desktop.styl';