pasto = #51a279
pasto-light = #75D7A5

open = 'Open Sans', sans-serif


border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

transition()
	-webkit-transition:arguments;  
	-moz-transition:arguments;  
	-o-transition:arguments;  
	-ms-transition:arguments;  
	transition:arguments; 
	
box-sizing()
	-webkit-box-sizing: arguments;
	-moz-box-sizing: arguments;
	box-sizing: arguments; 
	
text-shadow()
	text-shadow: arguments;
	
box-shadow()
	-webkit-box-shadow: arguments;
	box-shadow: arguments;
	
transform()
	-moz-transform arguments
	-webkit-transform arguments
	-o-transform arguments
	-ms-transform arguments
	transform arguments